.FormAdd {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  background-color: #343434;
  border: 2px solid rgba(255, 166, 0, 0.842);
  padding: 15px;
  border-radius: 5%;
}

.TitleFormAdd {
  color: rgba(255, 166, 0, 0.842);
  font-size: 25px;
  margin: 0;
  margin-bottom: 30px;
}

.ContainerData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.AntationAndButtonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin: 20px;
}

.AnotationFormAdd {
  align-items: center;
  border: 1px solid rgba(255, 166, 0, 0.842);
  background: none;
  padding: 0;
  margin: 0px;
  margin-right: 10px;
  outline: none;
  box-shadow: none;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  color: white;
  padding: 5px;
  height: 100%;
}

.SendFormAdd {
  color: rgba(255, 166, 0, 0.842);
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  border: solid 2px;
  border-radius: 3px;
  padding: 5px;
}

.ButtonAdd {
  color: rgba(255, 166, 0, 0.842);
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  border: solid 2px;
  border-radius: 3px;
  padding: 5px;
  margin: auto;
  background: none;
}

/* Hover */
.ButtonAdd:hover {
  color: rgba(139, 92, 4, 0.842);
}
