.TaskItem {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 60%;
    border-bottom: solid 2px white;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.TaskBasicInfo{
    width: 80%;
    font-family: "Oswald", sans-serif;
}

.TaskHour{
    margin: 0;
    padding-bottom: 0px;
}

.TaskPatient{
    margin: 0;
    font-weight: bolder;
    font-size: 150%;
}

/* Hovers */
.TaskItem:hover {
    color: rgba(255, 166, 0, 0.842);
    cursor: pointer;
    border-bottom: solid 2px rgba(255, 166, 0, 0.842);
}