.NavList {
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  margin: 0px;
  padding: 10px;
  width: 400px;
  position: fixed;
  z-index: 1000;
}

.NavItem {
  margin-right: 26px;
  color: whitesmoke;
  width: 50px;
  text-decoration-line: none;
}

.NavItem:hover {
  color: rgba(255, 166, 0, 0.842);
  cursor: pointer;
  font-weight: bolder;
}

.NavItem.active {
  color: rgba(255, 166, 0, 0.842);
}