.EditSpace{
    display: flex;
    color: white;
    padding-top: 100px;
    justify-content: center;
}

.EditorContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.EditorElement {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 10px;
    max-width: 20%;
}

.FormContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: auto;
    height: auto;
}

.FormAddContainer {
    z-index: 1000;
    width: 100%;
}